
/* Start Header */
#main-header{
    display: flex;
    flex-direction: column;
}
.header__top--main {
    background-color: #7f7f7f;
}
.header__top {
    color: #fff;
    padding: 5px;
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    
}

.header__phone {
    display: flex;
}
.header__phone a {
    color: #fff;
}
.header__phone--text a {
    text-decoration: none;
    margin-left: 10px;
    padding-top: 5px;
    font-weight: bold;
}
.header__phone--icon {
    font-size: 14px;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    align-items: center;
}
.nav-mobile {
    display: none;
}

.header__logo {
    margin-top: 10px;
}
.header__menu--main {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;

}

.header__menu--main a {
    text-decoration: none;
    color: #000000;
    font-weight: 550;
    padding: 18px 25px 18px 25px;
}
.header__menu--sub {
    position: absolute;
    background-color: white;
    padding: 7px 0px;
    list-style: none;
    width: 200px;
    left: 150px;
    padding-bottom: 0;
    display: none;
    margin-top: 20px;
    animation: growDown 0.35s ease-in-out;
    transform-origin: top center;
}

.header__menu--main li:hover > .header__menu--sub {
    display: block;
}
.header__menu--main > li:hover > a {
    color: #ed6e00;
    
}
.header__menu--sub li {
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 10px;
  margin-top: 10px;
}

.header__menu--sub li:hover>a {
    color: #ed6e00;
}
.header__menu--sub a {
  padding: 8px 10px 20px 20px;
  font-weight: lighter;

}
.header__menu--sub li:last-child {
    border: none;
}

.header__menu--sub  .header__menu--sub-01 {
    left: 201px;
    top: -20px;
    display: none;
}
.header__menu--sub  .header__menu--sub-02 {
    left: 201px;
    top: 19px;
    display: none;
}
.header__menu--sub  .header__menu--sub-03 {
    left: 201px;
    top: 97px;
}
/* Set up the Pseudo */
.header__menu--main > li > a {
    position: relative
}
.header__menu--main > li > a::before{
    content: "";
    height: 2px;
    width: 0px;
    background-color:#222222 ;
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header__menu--main > li:hover > a::before{
   width:100%
}

.header__menu--main > li.has-child-main-01::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 550; 
    content: "\f078";
    color: black;
    position: absolute;
    top: -15px;
    right: 410px;
    padding: 18px 0px;
    font-size: 0.8rem;
}

.header__menu--main  .header__menu--sub > li.has-child-01::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 550; 
    content: "\f054";
    color: black;
    position: absolute;
    top: 0px;
    right: 5px;
    padding: 18px 0px;
    font-size: 0.8rem;
}
.header__menu--main  .header__menu--sub > li.has-child-02::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 550; 
    content: "\f054";
    color: black;
    position: absolute;
    top: 40px;
    right: 5px;
    padding: 18px 0px;
    font-size: 0.8rem;
}

.header__menu--main  .header__menu--sub > li.has-child-03::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 550; 
    content: "\f054";
    color: black;
    position: absolute;
    top: 120px;
    right: 5px;
    padding: 18px 0px;
    font-size: 0.8rem;
}

.header__menu--sub-secondary {
    position: absolute;
    background-color: white;
    padding: 7px 0px;
    list-style: none;
    width: 220px;
    left: 260px;
    padding-bottom: 0;
    display: none;
    margin-top: 20px;
}
.header__menu--main li:hover > .header__menu--sub-secondary {
    display: block;
}
.header__menu--sub-secondary li {
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .header__menu--sub-secondary li:hover>a {
      color: #ed6e00;
  }
  .header__menu--sub-secondary a {
    padding: 8px 0px 20px 20px;
    font-weight: lighter;
    font-size: 0.3 rem;
    
    
  }
  .header__menu--sub-secondary li:last-child {
      border: none;
  }
  .header__menu--main > li.has-child-main-02::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 550; 
    content: "\f078";
    color: black;
    position: absolute;
    top: -15px;
    right: 260px;
    padding: 18px 0px;
    font-size: 0.8rem;
}


/* START CONVENIENT ICON */
.header__convenient {
    display: flex;
}
.header__convenient .header__convenient--icon {
    padding-left: 20px;
    font-size: 23px;
}
.header__convenient--icon i {
    color: black;
}

/* START MODAL */
#loginModal {
    display: none;
    position: absolute;
    z-index: 1;
}
#registerModal{
    display: none;
    position: absolute;
    z-index: 1;
}
#restoreModal {
    display: none;
    position: absolute;
    z-index: 1;

}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4)
}

.modal__body {
    background-color: white;
    margin: auto;
    z-index: 1;
    border-radius: 5px;
    --growth-from: 0.6;
    --growth-to: 1;
    animation: growth linear 0.3s;
}

/* Authen-modal */
.auth-form {
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__cotainer {
    padding: 0 32px;
}

.auth-form__header {
    text-align: center;
    margin-top: 30px;
}
label {
    display: block;
    margin-top: 20px;
}
.auth-form__input {
    width: 96%;
    height: 40px;
    margin-top: 10px;
    padding-left: 12px;
    font-size: 0.9rem;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    outline: none;
}
.form-control  {
    position: relative;
    margin-bottom: 25px;

}
 .form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
}

 .form-control small {
    position: absolute;
    bottom: -20px;
    left: 0;
}
/* id */
#email-error {
    color: #FF0000;
    animation: growth linear 0.4s;
}
#email-success {
    color: #00AA00;
    animation: growth linear 0.4s;
}
#password-error {
    color: #FF0000;
    animation: growth linear 0.4s;
}
#password-success {
    color: #00AA00;
    animation: growth linear 0.4s;
}
#fname-error {
    color: #FF0000;
    animation: growth linear 0.4s;
}
#email-error__register {
    color: #FF0000;
    animation: growth linear 0.4s;
}
#password-error__register {
    color: #FF0000;
    animation: growth linear 0.4s;
}
#password-error__retype {
    color: #FF0000;
    animation: growth linear 0.4s;
}
#password-success__retype {
    color: #00AA00;
    animation: growth linear 0.4s;
}
#password-success__register {
    color: #00AA00;
    animation: growth linear 0.4s;
}
#email-success__register {
    color: #00AA00;
    animation: growth linear 0.4s;
}
#fname-success {
    color: #00AA00;
    animation: growth linear 0.4s;
}

#password-error-icon {
    color: #FF0000;
    display: none;
    animation: growth linear 0.2s;

}
#password-success-icon {
    color: #00AA00;
    display: none;
    animation: growth linear 0.2s;

}
#email-error-icon {
    color: #FF0000;
    display: none;
    animation: growth linear 0.2s;

}
#email-success-icon {
    color: #00AA00;
    display: none;
    animation: growth linear 0.2s;
}
#fname-error-icon {
    color: #FF0000;
    display: none;
    animation: growth linear 0.2s;
}
#fname-success-icon {
    color: #00AA00;
    display: none;
    animation: growth linear 0.2s;
}
#email-success-icon__register {
    color: #00AA00;
    display: none;
    animation: growth linear 0.2s;
}
#email-error-icon__register {
    color: #FF0000;
    display: none;
    animation: growth linear 0.2s;
}
#password-success-icon__register {
    color: #00AA00;
    display: none;
    animation: growth linear 0.2s;
}
#password-error-icon__register {
    color: #FF0000;
    display: none;
    animation: growth linear 0.2s;
}
#password-success-icon__retype {
    color: #00AA00;
    display: none;
    animation: growth linear 0.2s;
}
#password-error-icon__retype {
    color: #FF0000;
    display: none;
    animation: growth linear 0.2s;
}

#email-success-icon__restore {
    color: #00AA00;
    display: none;
    animation: growth linear 0.2s;
}
#email-error-icon__restore {
    color: #FF0000;
    display: none;
    animation: growth linear 0.2s;
}
#email-error__restore {
    color: #FF0000;
    animation: growth linear 0.4s;
}
#email-success__restore {
    color: #00AA00;
    animation: growth linear 0.4s;
}


.auth-form__input:focus {
    border-color: #888;
}
.auth-form__aside {
    margin-top: 0px;
}
.check-box {
    display: flex;
    font-size: 0.8rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
.check-box__action {
    height: 20px;
    margin-top: 10px;
}
.auth-form__policy-text {
    font-size: 0.8rem;
    text-align: center;
}
.auth-form__text-link {
    color: #ed6e00;
    text-decoration: none;
}
.auth-form__aside--support{
    font-size: 0.8rem;
    padding-left: 2px;

}
.auth-form__text-support{
    text-decoration: none;
    color: #000000;
}
.auth-form__aside--support {
    margin-top: 0px;
}
.auth-form__text-support:hover {
    color: rgba(0, 0, 0, 0.8);
}
.auth-form__controls {
    margin-top: 60px;
    margin-bottom: 20px;
}
.btn {
    min-width: 140px;
    height: 30px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.01);
}
.btn.btn--primary {
    background-color: #ed6e00;
    color: #fff;
}
.auth-form__controls {
    margin-top: 50px;
    display: flex;
    justify-content: space-around; 
}
.auth-form__controls-back {
    margin-right: 10px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.btn.btn--size-s {
    line-height: 28px;
    height: 28px;
    font-size: 15px;
    padding: 0 8px;

}

.auth-form__socials--facebook {
    color: #000000;
    background-color: #fff;
}
.auth-form__socials-title {
    margin: 0 20px;
}
.auth-form__socials-title:hover {
color: #ed6e00;
}

.auth-form__socials--google {
    color: #000000;
    background-color: #fff;
}
.google-logo {
    width: 22px;
}


/* Search-frame */
.header__search-icon {
    position: relative;
}
.header__search-frame {
    width: 423px;
    height: 140px;
    text-align: center;
    position: absolute;
    right: 45px;
    top: 100px;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    animation: headerSearch ease-in 0.3s;
    transform-origin: calc(100% - 40px) top ;
    display: none;
}
.header__convenient--icon:hover .header__search-frame {
    display: block;
}
.header__search-frame::before {
    content: "";
    border: 20px solid  ;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 40px;
    top: -40px;
}
.header__search-frame--title {
    font-size: 1.1rem;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
}
.header__search-frame--input {
    padding-bottom: 10px;
    width: 378px;
    height: 40px;
    margin: 0 auto;
    border: none;
    outline: none;
    position: relative;
}
.header__search-frame--input input{
    background-color: white;
    height: 100%;
    width: 100%;
    border: 0.5px solid #eaeaea;
    border-radius: 2px;
    font-size: 1rem;
    outline: none;
}

.header__search-btn{
    border: none;
    background-color: #ed6e00;
    position: absolute;
    top: 79px;
    right: 20px;
    border-radius: 3px;
    cursor: pointer;
}
i.header__search-btn-icon{
   color: white;
   font-size: 1.6rem;
   padding: 5px;
}

/* Banner */

.slider {
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
} 
.slides {
    width: 500%; 
    display: flex;

} 
.slides input {
    display: none;
}
.slide {
    width:20%;
}
.slide img {
    animation: slider ease 3s;

}

.navigation-manual{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    margin-top: -50px;

}
.manual-btn {
    border: 2px solid #ed6e00;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover {
    background: #ed6e00;
}

 #radio1:checked~ .first{
  margin-left: 0;
  transition: 1s;

}
#radio2:checked ~ .first{
    margin-left: -20%;
    transition: 1s;

}
#radio3:checked ~ .first{
    margin-left: -40%;
    transition: 1s;
} 



/* Main content  */
#main{
    position: relative;
}
/* Category banner */
#wrapper {
    display: flex;
    max-width: 1140px;
    margin: 0 auto; 
    position: relative;
}
.list-category {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0;

}
ul.list-category {
    width: 1140px;
}

.categories {
    max-width: 550px;
    overflow: hidden;
}
.categories a {
    text-decoration: none;
}

ul.list-category .categories a img {
    display: block;
    max-width: 100%;
    transition: all 0.5s ease-in 0s;

}

ul.list-category li:hover img {
    transform: scale(1.1);
    animation: img ease-out 1.5s;
}
ul.list-category li a {
    position: relative;
    display: block;
    z-index: 0;
}
ul.list-category li a .categories-title {
    position: absolute;
    color: #333;
    bottom: 25%;
    left: 5%;
    font-size: 1.25rem;
    cursor: text;
    
}
.categories-title p {
    margin-bottom: 5px;
}
.categories-title h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}
.categories-title span {
    font-size: 0.9rem;
}
.categories-btn {
    background-color: #ed6e00;
    color: #f5f5f5;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Container */
#container {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 0 auto;
}
#container img {
    max-width: 100%;
}

.container-title {
    margin: 0 auto;
    border-bottom: 2px dashed #DCDCDC;
    margin-bottom: 40px;
}
.main-container {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */

}
.sub-container {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    justify-content: space-between;

}
.sub-container__up {
    display: flex;
    width: 550px;
    justify-content: space-between;
}

.sub-container-options {
    max-width: 258px;
    position: relative;
}
.img-change {
    position: absolute;
    left: 0;
    opacity: 0;
}
.sub-container-options__small {
    display: flex;
    max-width: 80px;
    justify-content: space-between;
    margin-top: 15px;
}

.sub-container-options__small--separate{
    width: 35px;
}

.change:hover .img-change {
    opacity: 1;
    transition: 0.2s;
}
.change:hover .flash-sale {
    opacity: 1;
    transition: 0.2s;
    bottom: 30%;
}

.flash-sale {
    background-color: #DCDCDC;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    padding: 7px 22px;
    display: flex;
    position: absolute;
    right: 23%;
    bottom: 25%;
    opacity: 0;
}
.flash-sale a {
    text-decoration: none;
    color: #000000;
}
.flash-sale img {
    width: 18px;
    padding-right: 5px;
}
.sub-container-options h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.sub-container-options span {
   margin-bottom: 10px;
}

.sub-container__down {
    position: relative;
}
.flash-sale-big {
    background-color: #DCDCDC;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    padding: 7px 100px;
    display: flex;
    position: absolute;
    right: 23%;
    bottom: 15%;
    opacity: 0;
}
.flash-sale-big a {
    text-decoration: none;
    color: #000000;
}
.flash-sale-big img {
    width: 18px;
    padding-right: 5px;
}
.change-big:hover .flash-sale-big {
    opacity: 1;
    transition: 0.2s;
    bottom: 25%;
}
.change-big:hover .img-change {
    opacity: 1;
    transition: 0.2s;
}
.sub-container-option h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.sub-container-option span {
    margin-bottom: 10px;
}
.container-title>a {
    color: #000000;
    text-decoration: none;
}
.container-title>a:hover h2 {
    color: #ed6e00;
}
/* Additional Banner  */
.banner-plus {
    margin-top: 50px;
    overflow: hidden;
}
.banner-plus:hover img {
    animation: img ease-out 1.5s;
    transform: scale(1.1);

}
.banner-plus a img {
    display: inline-block;
    max-width: 100%;
    transition: all 0.5s ease-in 0s;
}


/* Specialty 2022 */
.specialty {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-image: linear-gradient(#fff,#efefef); 

}

.specialty a {
    margin: 0 auto;
    text-decoration: none;
    color: #000000;
}
.main-specialty {
    display: flex;
    justify-content: space-around;
}
.main-specialty img {
    max-width: 100%;
    background-color: #DCDCDC;
    transition: all 0.5s ease-in 0s;
}
.main-specialty a {
    overflow: hidden;
}
.main-specialty a:hover img {
    animation: img ease-out 1.5s;
    transform: scale(1.1);
}
.specialty a:hover h2 {
    color: #ed6e00;
}

/* Service */
.service{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 15px;
}

.service a {
    color: #000000;
    text-decoration: none;
    margin: 0 auto;
}
.main-service {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

}
.sub-service {
    border: 3px solid #eeeeee;
    display: inline-flex;
    flex-direction: column;
    width: 360px;
    height: 200px;
    margin: 10px 0;
}
.sub-service-icon {
    font-size: 2.8rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sub-service-link {
    font-size: 1.3rem;
    padding-bottom: 35px;
}
.sub-service-text {
    text-align: center;
    border-bottom: 1px solid black;
}
.sub-service-text p {
    margin-bottom: 2px;
}
.sub-service:hover i {
    transform: rotate(2turn);
    transition: all 0.4s ease-in 0s;
}
.service>a:hover h2 {
    color: #ed6e00;
}

/* News */
#news {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 50px;
}
#news img {
    max-width: 100%;
    border-radius: 10px;
    transition: all 0.8s ease-in 0s;

}
#news a {
    margin: 0 auto;
    color: #000000;
    text-decoration: none;
}
#news small {
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 1rem;
}
.main-news {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.sub-news {
    width: 370px;
    margin: 10px 0;
}

.sub-news-content h5 {
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
}
.read-more a {
    display: flex;
    display: inline-flex;
    padding: 0 22px;
}
.read-more i {
    line-height: 50px;
    margin-right: 10px;
}

.read-more-link i {
    color: #eeeeee;
    margin: 0 10px;
}
.read-more-link p {
    color: #eeeeee;
}
.read-more-link  {
    background-color: #ed6e00;
    border-radius: 25px;
    padding: 0 30px;
}

.news {
    overflow: hidden;
    border-radius: 25px;

}
.sub-news:hover img {
    animation: img ease-out 1.5s;
    transform: scale(1.05);
}
.read-more-link:hover i {
    transform: rotate(2turn);
    transition: all 0.5s ease-in 0s;
}
.news>a:hover h2 {
    color: #ed6e00;
}

/* Footer */
#footer {
    background-color: #f7f7f7;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.main-footer {
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    padding-top: 30px;
    flex-wrap: wrap;

}
.sub-footer {
    width: 235px;
}
.sub-footer a {
    text-decoration: none;
    color: #000000;
}
.sub-footer ul {
    padding-inline-start: 15px;

}
.sub-footer li {
    margin: 20px 0;
    list-style-position: outside;
    font-size: 0.8rem;
}
.sub-footer h4 {
    font-size: 0.9rem;
}

.sub-footer-register {
    width: 400px;
    display: flex;
    flex-direction: column;
}
.footer-register-frame {
    display: flex;
    margin-top: 20px;
}
.footer-register-frame input {
    width: 280px;
    height: 38px;
}
.footer-register-frame button {
    background-color: #ed6e00;
    color: #efefef;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0 20px;
}
.footer-register-icon {
    margin-top: 20px;
}
.footer-register-icon a {
    text-decoration: none;
}
.footer-register-icon i {
    color: #000000;
    font-size: 1.6rem;
}
.footer-register-icon i:nth-child(n+1) {
    padding: 0 10px;
}
.sub-footer a:hover li {
    color: #ed6e00;
}
.footer-register-icon a:hover .facebook {
    color: #3b5998;
    font-size: 1.8rem;
}
.footer-register-icon a:hover .insta {
    color:#8a3ab9;
    font-size: 1.8rem;

    
}
.footer-register-icon a:hover .youtube {
    color: #cd201f;
    font-size: 1.8rem;
}
.copyright {
    margin: 0 auto;
    font-size: 0.9rem;
}
/* INDEX PAGE ENDS */

/* ALL PRODUCTS PAGE STARTS */
/* Navigation */
.all-products-navigation {
    background: #f5f5f5;
}
.main-navigation {
    display: flex;
    max-width: 1140px;
    height: 38px;
    margin: 0 auto;
    align-items: center;
}
.main-navigation p {
    margin-right: 10px;
    font-size: 0.9rem;
    line-height: center;
}
.main-navigation a {
    text-decoration: none;
    color: #000000;
}
.main-navigation-text {
    color: rgba(0, 0, 0,0.6);
}
/* Banner */
.all-products-banner {
    margin-bottom: 10px;
}
.all-products-banner img {
    max-width: 100%;
}

/* Title content */

.main-title-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
    align-items: center;
}
.select-input__sort {
    display: flex;
    min-width: 240px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 0.5px solid #DCDCDC;
    padding: 0 15px;
    position: relative;
}
.select-input__sort--text {
    display: flex;
    min-width: 80px;
    justify-content: space-between;
}
.select-input__sort span {
    font-weight: 550;
    font-size: 0.96rem;
}
.down {
    font-size: 1.1rem;
}
.check {
    font-size: 0.85rem;
}
.select-input__sort--list {
    position: absolute;
    left: 0;
    right: 0;
    top: 24px;
    border: 0.5px solid #DCDCDC;
    display: none;
    background-color: #fffcfc;
    z-index: 1;
}
.select-input__sort--list li {
    list-style: none;
    margin: 10px 0;
}
.select-input__sort--list a {
    text-decoration: none;
    color: #000000;
    font-size: 0.96rem;
}
.active {
    position: relative;
}
.checked {
    position: absolute;
    left: -20px;
    top: 3px;
}
i.checked {
    font-size: 0.85rem;
}
.select-input__sort--list li:hover a {
    color: #ed6e00;
}
.select-input__sort:hover .select-input__sort--list {
    display: block;
    animation: growDown 0.35s ease-in-out;
    transform-origin: top center;
}
/* All products - Filter */
.all-products__filter {
    margin-bottom: 40px;
}
.main-filter {
    display: flex;
    margin: 0 auto;
    max-width: 1140px;
    align-items: center;
}
.filter-text {
    display: flex;
    align-items: center;
    width: 88px;
    justify-content: space-between;
    position: relative;
    margin-right: 25px;

}
.filter-text p {
    font-size: 1rem;
    font-weight: 550;
}
.filter-text i {
    font-size: 1.1rem;
}
.filter-text::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #DCDCDC;
    height: 23px;
    top: 14px;
    left: 98px;
}
/* prices */
.filter-prices{
    display: flex;
    min-width: 200px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 0.5px solid #DCDCDC;
    padding: 0 15px;
    position: relative;
    margin-right: 30px;
}
.filter-prices span {
    font-weight: 550;
    font-size: 0.96rem;
}
.select-input__prices--list li {
    list-style: none;
    margin: 10px 0;
    font-size: 0.96rem;
}
.select-input__prices--list {
    position: absolute;
    left: 0;
    right: 0;
    top: 24px;
    border: 0.5px solid #DCDCDC;
    padding-left: 10px;
    display: none;
    background-color: #fffcfc;
    z-index: 1;
}
.filter-prices:hover .select-input__prices--list{
    display: block;
    animation: growDown 0.35s ease-in-out;
    transform-origin: top center;
}
/* colors */
.filter-colors{
    display: flex;
    min-width: 200px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 0.5px solid #DCDCDC;
    padding: 0 15px;
    position: relative;
    margin-right: 30px;
}
.filter-colors span {
    font-weight: 550;
    font-size: 0.96rem;
}
.select-input__color--list {
    position: absolute;
    left: 0;
    right: 0;
    top: 39px;
    border: 0.5px solid #DCDCDC;
    padding-left: 10px;
    display: none;
    cursor: auto;
    background-color: #fffcfc;
    z-index: 1;
}
.color {
    cursor: pointer;
    position: relative;
}
i.check-color {
    color: #eeeeee;
    position: absolute;
    top: 5px;
    left: 5px;
    display: none;
    transition: all 1s;
}
.color-list {
    display: flex; 
    max-width: 190px;
    justify-content: space-around;
    margin: 10px 0;
}

.purple {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #888df2;
}
.yellow {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color:#fad02c;
}
.navy {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color:#000c66;
}
.pink {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #f23895;
}
.black {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color:#000000;
}
.gray {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color:#cccaca;
}
.white {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color:#fffcfc;
    border: 0.2px solid #eaeaea;

}
.blue {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color:#245ad1;
}
.moss-green {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color:#6e7b49;
}
.green {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color:#75cf63;
}
.nude {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #e9dac4;
}
.brown {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #8b4513;
}
.red {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #e71919;
}
.pine-green {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #20755c;
}
.light-grown {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #c98556;
}
.color:hover {
    transform: scale(1.1);
}
.color:hover i.check-color {
    display: block;
}
.filter-colors:hover .select-input__color--list {
    display: block;
    animation: growDown 0.35s ease-in-out;
    transform-origin: top center;
}
/* sizes */
.filter-sizes{
    display: flex;
    min-width: 200px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 0.5px solid #DCDCDC;
    padding: 0 15px;
    position: relative;
}
.filter-sizes span {
    font-weight: 550;
    font-size: 0.96rem;
}
.select-input__sizes--list li {
    list-style: none;
    margin: 10px 0;
    font-size: 0.95rem;
}
.select-input__sizes--list {
    position: absolute;
    left: 0;
    right: 0;
    top: 24px;
    border: 0.5px solid #DCDCDC;
    padding-left: 10px;
    display: none;
    background-color: #fffcfc;
    z-index: 1;
}
.filter-sizes:hover .select-input__sizes--list{
    display: block;
    animation: growDown 0.35s ease-in-out;
    transform-origin: top center;
}
/* All products - Infomation */
.all-products__information img {
    max-width: 100%;
}
.all-products__information {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.main-info-products {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.sub-info-productions {
    width: 275px;
    position: relative;
}

.sub-info-productions__options {
    display: flex;
    justify-content: space-between;
    max-width: 80px;
    margin-top: 20px;
}
.sub-info-productions__options--small {
    max-width: 35px;
}
.sub-info-productions h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.sub-info-productions span {
    font-size: 0.97rem;
}
.sub-info-productions__flash {
    background-color: #DCDCDC;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    padding: 7px 25px;
    display: flex;
    position: absolute;
    left: 23.5%;
    bottom: 15%;
    opacity: 0;
}
.sub-info-productions__flash a {
    text-decoration: none;
    color: #000000;
}
.sub-info-productions__flash img {
    width: 18px;
    padding-right: 5px;
}
.sub-info-productions:hover .sub-info-productions__flash{
    opacity: 1;
    bottom: 35%;
    transition: 0.2s;
}
.sub-info-productions:hover .img-change{
    opacity: 1;
    transition: 0.2s;
} 
/* ALL PRODUCTS PAGE ENDS */


/* DETAIL PRODUCT PAGE STARTS */
.detail-product-content {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    
} 
.main-detail-product {
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.sub-detail-product__small {
    display: flex;
    flex-direction: column;
    
}
.sub-detail-product__small img {
    max-width: 85px;
    padding: 1px;
}
.img-border {
    border: 1px solid #ed6e00;
}

.sub-detail-product_big img {
    max-width: 600px;
    margin: 0 30px;
    animation: img ease-in 0.5s;
    transition: all 0.5s;
}
.sub-detail-product_info h1 {
    margin-top: 0;
    font-size: 1.6rem;
}
.sub-detail-product_info {
    display: flex;
    flex-direction: column;
    width: 395px;
}
.detail-product-price {
    background-color: #f7f7f7;
}
.detail-product-price p {
    font-size: 1.45rem;
    font-weight: 550;
    padding: 13px 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.detail-product-price span {
    text-decoration: underline;
}
/* detail-product-color */
.detail-product-color {
    display: flex;
    flex-direction: column;
}
.detail-product-color__title {
    display: flex;
    align-items: center;
    position: relative;
}
.detail-product-color__list {
    display: flex;
}
.detail-product-color__list .color {
    margin-right: 10px;
}

.detail-product-color__title p {
    font-size: 0.95rem;
    margin-right: 5px;
}
.detail-product-color__title span {
    color: #61b2d2;
    font-weight: 550;
    font-size: 0.94rem;
}
.detail-product-color .hide-navy-color {
    position: absolute;
    left: 40px;
    display: block;
}
#hide-black-color {
    position: absolute;
    left: 40px;
    opacity: 0;
}
#hide-brown-color {
    position: absolute;
    left: 40px;
    opacity: 0;
}
#hide-gray-color {
    position: absolute;
    left: 40px;
    opacity: 0;
}
#hide-white-color {
    position: absolute;
    left: 40px;
    opacity: 0;
} 
.navy:hover .hide-navy-color{
    display: none;

}

/* Size */
.detail-product-size__title {
    display: flex;
    align-items: center;
}
.detail-product-size__title p {
    font-size: 0.95rem;
}
.detail-product-size__title i {
    margin: 0 10px;
    font-size: 1.4rem;
    cursor: pointer;
}

.detail-product-size__title span {
    font-size: 0.94rem;
    cursor: pointer;
}
.detail-product-size__list {
    display: flex;
}
.item-size {
    margin-right: 5px;
    border: 2px solid #eaeaea;
    cursor: pointer;
}
.item-size p {
    font-size: 0.85rem;
    padding: 5px 7px;
    margin-top: 0;
    margin-bottom: 0;
}
.item-size:hover {
    background-color: #ed6e00;
    color: #f7f7f7;
}
/* Form */
.detail-product-form {
    display: flex;
    flex-direction: column;
}
.detail-product-form__title p {
    font-size: 0.95rem;
}
.item-form {
    border: 2px solid #eaeaea;
    cursor: pointer;
    display: inline-block;
}
.item-form p {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 5px;
    font-size: 0.85rem;
}
.item-form:hover {
    background-color: #ed6e00;
    color: #f7f7f7;
}
/* Size-guide */
#size-guide {
    display: none;
    
}
.main-size-guide {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}
.size-guide__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.size-guide__body {
    width: 800px;
    background-color: white;
    margin: auto;
    z-index: 1;
    border-radius: 5px;
    --growth-from: 0.6;
    --growth-to: 1;
    animation: growth linear 0.3s;
} 
.sub-size-guide{
    display: flex;
    flex-direction: column;
    margin: 20px 15px 40px 15px;
    
}
.size-guide__body img {
    max-width: 100%;
}
.size-guide__body--title {
    border-bottom: 1px solid #eaeaea;
    position: relative;
}
.size-guide__body--title img {
    position: absolute;
    width: 10px;
    right: 0;
    top: 5px;
    cursor: pointer;
}
.size-guide__body--title p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.95rem;
    font-weight: 550;
    padding-bottom: 10px;
}
.size-guide__select {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.size-guide__select p{
    font-size: 0.95rem;
    font-weight: 550;
    margin-right: 5px;
}
.size-guide__select select {
    width: 175px;
    height: 33px;
    border-radius: 5px;
}
/* Quantity */
.detail-product-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quantity-control {
    display: flex;
    background-color: #ffffff;
    width: 150px;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eeeeee;
    margin-top: 20px;
}
.quantity-control span {
    font-size: 0.95rem;
}
i.minus {
    width: 45px;
    height: 45px;
    background-color: #f3f4f4;
    text-align: center;
    line-height: 50px;
    font-size: 0.7rem;
    cursor: pointer;
}
i.plus {
    width: 45px;
    height: 45px;
    background-color: #f3f4f4;
    text-align: center;
    line-height: 50px;
    font-size: 0.7rem;
    cursor: pointer;
}
.quantity-order {
    background-color: #ed6e00;
    color: #fff;
    width: 270px;
    height: 45px;
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
    font-size: 0.95rem;
    font-weight: 550;
    border-radius: 3px;
    cursor: pointer;
}
i.minus:hover  {
    font-size: 0.9rem;
}
i.plus:hover  {
    font-size: 0.9rem;
}
.quantity-order:hover {
    background-color: #fff;
    border: 1px solid #ed6e00;
    color: #ed6e00;
    transition: ease 0.4s;
}
/* Service */
.detail-product-service {
    display: flex;
    flex-direction: column;
}
.detail-product-service__title p {
    font-size: 1.2rem;
    color: #ed6e00;
    display: inline-block;
    margin-bottom: 0;
}
.detail-product-service__content {
    display: flex;
    align-items: center;
}
.detail-product-service__content i {
    font-size: 1.5rem;
    margin-right: 20px;
    color: gray;
}
.detail-product-service__content p {
    font-size: 0.9rem;
}
.detail-product-service__content--bold {
    font-weight: 550;
}
/* Info Product */
.detail-product-info-product {
    display: flex;
    flex-direction: column;
    position: relative;
    border-top: 1px solid #eeeeee;
    margin-top: 5px;
}
.detail-product-info-product__title {
    font-size: 1.1rem;
    margin-bottom: 0;
    cursor: pointer;
}
.info-plus {
    position: absolute;
    right: 5px;
    top: 20px;
    color: gray;
    font-size: 0.9rem;
}
.info-minus {
    position: absolute;
    right: 5px;
    top: 20px;
    color: gray;
    opacity: 0;
    font-size: 0.9rem;
}
.detail-product-info-product__list {
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    display: none;
    animation: growDown 0.35s ease-in-out;
    transform-origin: top center;
}
.detail-product-info-product__list li {
   list-style: none;
   display: flex;
   align-items: center;
   font-size: 0.9rem;
}
.detail-product-info-product__list p {
    margin-bottom: 0;
}
/* Preservation Product */
.detail-product-preservation-product {
    display: flex;
    flex-direction: column;
    position: relative;
    border-top: 1px solid #eeeeee;
    margin-top: 10px;
}
.detail-product-preservation-product__title {
    font-size: 1.1rem;
    margin-bottom: 0;
    cursor: pointer;
}
.info-plus {
    position: absolute;
    right: 5px;
    top: 20px;
    color: gray;
    font-size: 0.9rem;
}
.info-minus {
    position: absolute;
    right: 5px;
    top: 20px;
    color: gray;
    opacity: 0;
    font-size: 0.9rem;
}
.detail-product-preservation-product__list {
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    display: none;
    animation: growDown 0.35s ease-in-out;
    transform-origin: top center;
}
.detail-product-preservation-product__list li {
   list-style: none;
   display: flex;
   align-items: center;
   font-size: 0.9rem;
}
.detail-product-preservation-product__list p {
    margin-bottom: 0;
}

/* Recent-product */
.recent-product {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 50px;
}
.recent-product-title {
    text-align: center;
}
.recent-product-title h1 {
    font-size: 1.55rem;
}
.main-recent-products {
    display: flex;
}
.sub-recent-productions {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    margin-right: 20px;
    position: relative;
}
.sub-recent-productions h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.sub-recent-productions__options {
    display: flex;
    justify-content: space-between;
    max-width: 80px;
    margin-top: 20px;
}
.sub-recent-productions__options--small {
    max-width: 35px;
}
.sub-recent-productions__flash {
    background-color: #DCDCDC;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    padding: 7px 25px;
    display: flex;
    position: absolute;
    left: 23.5%;
    bottom: 15%;
    opacity: 0;
}
.sub-recent-productions__flash a {
    text-decoration: none;
    color: #000000;
}
.sub-recent-productions__flash img {
    width: 18px;
    padding-right: 5px;
}
.sub-recent-productions:hover .sub-recent-productions__flash{
    opacity: 1;
    bottom: 35%;
    transition: 0.2s;
}
.sub-recent-productions:hover .img-change{
    opacity: 1;
    transition: 0.2s;
} 
/* DETAIL PRODUCT PAGE ENDS */

/* COLLECTION PAGE STARTS  */
.collection {
    max-width: 1140px;
    margin: 0 auto;
}
.main-collection {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.main-collection img {
    max-width: 100%;
}
/* COLLECTION PAGE ENDS  */

/* NEWS PAGE STARTS */
.posts {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 30px;
}
/* Posts-content */
.posts-content {
    width: 850px;
}
.posts-content h1 {
    margin-top: 0;
}
.main-posts-content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
    padding-bottom: 25px;
    overflow: hidden;
    margin-bottom: 15px;
}
.sub-posts-content h3 {
    cursor: pointer;
}
.sub-posts-img {
    width: 275px;
    overflow: hidden;
    margin-right: 30px;

}
.main-posts-content img {
    max-width: 100%;
}
.sub-posts-content {
    max-width: 545px;
}
.sub-posts-date {
    display: flex;
    justify-content: space-between;
    max-width: 260px;
    align-items: center;
}
.sub-posts-date span{
    font-size: 0.8rem;
    color: #adb5bd;
}
.sub-posts-date i{
    font-size: 0.5rem;
    color: #adb5bd;
}

.main-posts-content:hover img {
    animation: img ease-out 1.5s;
    transform: scale(1.05);
    transition: all 0.8s ease-in 0s;
}
/* News-page-navigation */
.news-page-navigation {
    margin: auto;
    max-width: 200px;
    display: flex;
    font-size: 0.95rem;
    color: rgb(0, 0, 0, 0.5);
} 
.news-page-navigation__content {
    display: flex;
    align-items: center;
    margin: 0 auto;

}
.news-page-navigation p {
    margin-right: 20px;
    cursor: pointer;
}
.news-page-navigation i {
    font-size: 1.1rem;
    cursor: pointer;
}
.news-page-navigation p:first-child, p:nth-child(4){
    color: #000000;
    cursor: auto;
}
.news-page-navigation__content .next-page:hover {
    color: #ed6e00;
}
/* Posts-sidebar */
.posts-sidebar {
    width: 260px;
    display: flex;
    flex-direction: column;
}
 /* Newest-post-sidebar */
.newest-post-sidebar {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    border: 1px solid #DCDCDC;
    padding-bottom: 20px;
}
.newest-post-sidebar h4 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    
}
.main-newest-post {
    display: block;
    animation: growDown 0.35s ease-in-out;
    transform-origin: top center;
}
.sub-newest-post {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #efefef;
    margin-bottom: 15px;
    padding-top: 15px;
}
.sub-newest-post:last-child {
   margin-bottom: 0;
}

.sub-newest-post__img {
    max-width: 70px;
    margin-right: 10px;
}

.sub-newest-post__content span:first-child {
    font-size: 0.88rem;
    cursor: pointer;
}
.sub-newest-post__content span:last-child {
    font-size: 0.88rem;
    color: #adb5bd;
}
 /* Category-post-sidebar */
.category-post-sidebar {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    border: 1px solid #DCDCDC;
    padding-bottom: 20px;
    margin-top: 30px;
}
.category-post-sidebar h4 {
   margin-bottom: 0;
   font-size: 1.2rem;
    cursor: pointer;
}
.main-category-post {
    padding-left: 0;
    margin-bottom: 0;
    display: block;
    animation: growDown 0.35s ease-in-out;
    transform-origin: top center;
}
.main-category-post li {
    list-style: none;
    border-top: 2px dotted #efefef;
    margin-bottom: 15px;
    padding-top: 15px;
    cursor: pointer;
}
.main-category-post li:last-child {
    margin-bottom: 0;
}

.main-category-post li:first-child {
    border-top: 1px solid #efefef;
}

.main-category-post a {
    text-decoration: none;
    color: #000000;
}
.main-category-post li:hover a {
    color: #ed6e00;
}
/* NEWS PAGE ENDS */

/* STORES PAGE STARTS */
.header__menu--sub {
  z-index: 1;
}
.stores {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
}
/* Location */
.select-location {
    display: flex;
    flex-direction: column;
}
.select-location p {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 30px;
}
.select-location img {
    max-width: 500px;
}
/* Select-location-option */
.select-location-option select {
    width: 500px;
    height: 50px;
    font-size: 1rem;
    margin-bottom: 20px;
}
/* Address */
.address {
    display: flex;
    flex-direction: column;
    width: 575px;
}
.main-address {
    margin-bottom: 20px;
}
.main-address__title {
    border-bottom: 1px solid #efefef;
    padding-bottom: 15px;
    position: relative;
    padding-left: 8px;
    cursor: pointer;
}
.main-address__title p {
    margin-top: 0;
    margin-bottom: 0;
}
.main-address__title i {
    position: absolute;
    right: 8px;
    top: 0px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.5);
}
i.address-minus {
    opacity: 0;
}
.main-address__content {
    padding-left: 8px;
    display: none;
    animation: growDown 0.35s ease-in-out;
    transform-origin: top center;
    border-bottom: 1px solid #efefef;
    padding-bottom: 20px;
}
.main-address__content p {
    font-size: 0.85rem;
}

.google-maps {
    display: flex;
    width: 170px;
    justify-content: space-between;
}
.google-maps a {
    color:#8ed0f8 ;
}
.google-maps i {
    font-size: 1.1rem;
}
.google-maps span {
    font-size: 0.9rem;
}
/* STORES PAGE ENDS */

/* CART PAGE STARTS */
.carts {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 50px;
}
.carts h2 {
    margin: 0 auto;
}
.main-cart {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 40px;
}
/* List-carts */
.list-carts {
    width: 755px;
    text-align: center;
}
.list-carts table {
    width: 100%;
}
.list-carts table tr th {
    padding-bottom: 12px;
}
.list-carts__title th:first-child {
    text-align: left; 
}
.list-carts table tr td {
    border-top: 1px solid #DCDCDC;
    padding: 12px 0;
}
.list-carts table tr td i.cart-delete {
    font-size: 1.3rem;
    color: rgba(0, 0, 0,0.5);
    cursor: pointer;
}
.list-carts table tr td i.cart-delete:hover {
    color: #ed6e00;
}

.list-carts tbody tr td:first-child {
    text-align: left;
    display: flex;
}

.detail-product-quantity {
    justify-content: center;
    margin-bottom: 20px;
}
td img {
    max-width: 90px;
}
.list-carts input {
    width: 50px;
    outline: none;
}
.item-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 10px;
}
.item-info p {
    margin-bottom: 5px;
    margin-top: 40px;
}
.item-info span {
    font-size: 0.85rem;
    color: rgba(0, 0, 0,0.7);
}

.main-price-list p{
    text-align: center;
}

.main-price-list small{
    font-size: 0.95rem;
}


/* Total-money */
.order-info {
    width: 360px;
    display: flex;
    flex-direction: column;
    border: 1px solid #DCDCDC;
    height: 280px;
    
}
.order-info h2 {
    padding-top: 10px;
    margin-bottom: 15px;
}
.total-money {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 10px;
    border-top: 1px solid #eaeaea;
    align-items: center;
}
.total-money p:first-child{
    font-weight: 550;
}
.main-price-total {
    display: flex;
}
.price-total {
    font-size: 1.5rem;
    color: #ed6e00;
}
.total-money p:last-child{
    font-size: 1.5rem;
    color: #ed6e00;
}

.order-info__sub {
    margin: 0 10px;
    font-size: 0.9rem;
    border-top: 1px solid #eaeaea;
    color: rgba(0, 0, 0,0.7);
}
.order-info__sub ul {
    padding-left: 20px;
}
.payment-btn {
    text-align: center;
    margin: 0 10px;
    border:1px solid #dbdbdb;
    background-color: #ed6e00;
    color: #fff;
    font-weight: 550;
    cursor: pointer;
    border-radius: 3px;
}
.payment-btn:hover {
    background-color: #fff;
    color: #ed6e00;
    border: 1px solid #ed6e00;
    transition: ease 0.4s;
}
/* Select-product */
.main-select-product {
    display: flex;
    flex-direction: column;
}
.sub-selec-product {
    display: flex;
    justify-content: space-between;
}
.select-product {
    display: flex;
    margin-top: 30px;
}
.product-item {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    cursor: pointer;
    position: relative;
}
.product-item__left {
    margin-left: 14px;
}
.product-item__right {
    margin-right: 14px;
}
.product-item p {
    font-weight: 550;
    margin-top: 10px;
    margin-bottom: 0px;
}
.product-item span {
    font-weight: 500;
    font-size: 0.9rem;
    color: rgba(0, 0, 0,0.7);
}
.main-price {
    display: flex;
    align-items: center;
}
.main-price small{
    text-align: center;
    margin-top: 12px;

}

.product-item .price {
    color: #000000;
    font-weight: 500;
}

.add-to-cart {
    text-align: center;
    background-color: #ed6e00;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    max-width: 170px;
    align-items: center;
    height: 30px;
    margin: 0 auto;
    margin-top: 20px;
}
.add-to-cart p {
    text-align: center;
    align-items: center;
    font-weight: 500;
    padding-top: 7px;
    margin: 0 auto;
    padding: 7px 10px;
}
.add-to-cart:hover {
    background-color: #fff;
    color: #ed6e00;
    border: 1px solid #ed6e00;
    transition: ease 0.4s;
}
 /* Selected-product-popup */
#selected-product {
    display: none;
}
.main-selected-product {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}
.selected-product__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.selected-product__body {
    width: 350px;
    background-color: white;
    margin: auto;
    z-index: 1;
    border-radius: 5px;
    --growth-from: 0.6;
    --growth-to: 1;
    animation: growth linear 0.3s;
} 
.selected-product{
    display: flex;
    flex-direction: column;
    margin: 15px 15px 10px 15px;
    text-align: center;
    
}
.selected-product__body img {
    max-width: 100%;
}

.selected-product img {
    width: 90px;
    margin: 0 auto;
}
.selected-product__title {
    font-size: 1.1rem;
    font-weight: 550;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    color: #ed6e00;
}
.move-on {
    background-color: #ed6e00;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0;
    font-weight: 550;

}
.move-on:hover {
    color: #ed6e00;
    background-color: #fff;
    transition: all 0.3s;
    border: 1px solid #ed6e00;
}
/* CART PAGE ENDS */
